<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="966b2fad-e9d1-4f78-b18c-bdde76925ed9" name="Storage-DataRetrievel" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="966b2fad-e9d1-4f78-b18c-bdde76925ed9fileName">Storage-DataRetrievel</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
