<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="f21395ad-6bec-4990-946d-242708d0f85f" wadlVersion="http://wadl.dev.java.net/2009/02" name="https://github.com" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="f21395ad-6bec-4990-946d-242708d0f85ffileName">https%3A%2F%2Fgithub.com</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>https://github.com</con:endpoint>
  </con:endpoints>
</con:interface>
