<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="02073336-d481-4d0e-bd8a-7fa146ecbd56" name="Tags" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="02073336-d481-4d0e-bd8a-7fa146ecbd56fileName">Tags</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
